body{
    background-color: lightblue;
}

.grid-container {
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows:minmax(150px, auto) ;
    grid-gap: 20px;
    
}

.grid-item-1 {
    background-color: orange;   
    grid-column: span 2;
    
}

#header{
    padding-bottom: 10px;
}

.grid-item-2 {
    background-color: gray;   
    grid-row: span 3;
    
}
.grid-item-3 {
    background-color: crimson;   
    grid-row: span 1 ;
}
.grid-item-4 {
    background-color: pink; 
    grid-row: span 2;  
}
.grid-item-5 {
    background-color: blueviolet;   
    grid-row-start: 1;
}
.headerdiv1 {
    font-size: 12px;
}
.headerdiv2 {
    padding-top: 10px;
    text-align: center;
    
}
.logo {
    display: block; 
    margin: 0 auto 0 auto;    
    height: 150px;
}
/* Innhold background colour and style */
.main-view-css  {
    font-size: 20px;
    background-color: lightcoral;
    grid-column: span 2;
    grid-row: span 3;
    padding-left: 0;
}

/* Login box */
.login-container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #my-form {
    padding: 2rem;
    background: #f4f4f4;
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  /* Button styles */
  .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .btn:hover {
    background: #444;
  }

  .test-btn    {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: rgb(47, 46, 117);
    color: #fff;
    border-radius: 10px;
    
  }

  .test-btn:hover {
    background: rgb(76, 110, 160);
  }

  /* innhold page styles, layouts and placing */

  .omOss-style  {
    position: absolute;
    text-align: center;
    margin: 50px;
  }

  .tests-style  {
    margin: 20px;
  }

  /*Profile page*/

  @import url(https://fonts.googleapis.com/css?family=Raleway:400,600);


*, *:before, *:after {
  box-sizing: border-box;
}


.user-card {  
  font: 13px/23px "Raleway", Arial, sans-serif;
  padding: 40px 0;
}

.container-profile {
  margin: 0 auto;
  width: 300px;
  height: 465px;
  background: white;
  border-radius: 3px;
  position: relative
}

.profile-information {
  text-align: center;
}

.profile-avatar {
  margin: 0 auto;
  margin: -82px auto 15px;
  display: block;
}

.profile-name {
  font-size: 22px;
}

.profile-level {
  font-size: 16px;
  margin-bottom: 24px;
}

.stats {
  margin: auto;
  border-top: 1px solid;
  width: 240px;}

  .followers{
    display: inline-block;
    padding: 6px 10px 0;
  }
  
  .experiance-value {
    font-size: 18px;
    font-weight: 600;
  }
  
  .profile-experiance {
    display: block;
    font-size: 14px;
  }

  /*Chat page*/

  *{
    box-sizing:border-box;
  }
  body{
    background-color:#abd9e9;
    font-family:Arial;
  }
  #chatContainerStyle{
    width:750px;
    height:800px;
    background:#eff3f7;
    margin:0 auto;
    font-size:0;
    border-radius:5px;
    overflow:hidden;
  }
  aside{
    width:260px;
    height:800px;
    background-color:#3b3e49;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }
  main{
    width:490px;
    height:800px;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }
  
  aside header{
    padding:30px 20px;
  }
  aside input{
    width:100%;
    height:50px;
    line-height:50px;
    padding:0 50px 0 20px;
    background-color:#5e616a;
    border:none;
    border-radius:3px;
    color:#fff;
    background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
    background-repeat:no-repeat;
    background-position:170px;
    background-size:40px;
  }
  aside input::placeholder{
    color:#fff;
  }
  aside ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    height:690px;
  }
  aside li{
    padding:10px 0;
  }
  aside li:hover{
    background-color:#5e616a;
  }
  h2,h3{
    margin:0;
  }
  aside li img{
    border-radius:50%;
    margin-left:20px;
    margin-right:8px;
  }
  aside li div{
    display:inline-block;
    vertical-align:top;
    margin-top:12px;
  }
  aside li h2{
    font-size:14px;
    color:#fff;
    font-weight:normal;
    margin-bottom:5px;
  }
  aside li h3{
    font-size:12px;
    color:#7e818a;
    font-weight:normal;
  }
  
  .status{
    width:8px;
    height:8px;
    border-radius:50%;
    display:inline-block;
    margin-right:7px;
  }
  .green{
    background-color:#58b666;
  }
  .orange{
    background-color:#ff725d;
  }
  .blue{
    background-color:#6fbced;
    margin-right:0;
    margin-left:7px;
  }
  
  main header{
    height:100px;
    padding:30px 20px 30px 40px;
  }
  main header > *{
    display:inline-block;
    vertical-align:top;
  }
  main header img:first-child{
    border-radius:50%;
  }
  main header img:last-child{
    width:24px;
    margin-top:8px;
  }
  main header div{
    margin-left:10px;
    margin-right:145px;
  }
  main header h2{
    font-size:16px;
    margin-bottom:5px;
  }
  main header h3{
    font-size:14px;
    font-weight:normal;
    color:#7e818a;
  }
  
  #chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:535px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
  }
  #chat li{
    padding:10px 30px;
  }
  #chat h2,#chat h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
  }
  #chat h3{
    color:#bbb;
  }
  #chat .entete{
    margin-bottom:5px;
  }
  #chat .message{
    padding:20px;
    color:#fff;
    line-height:25px;
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
  }
  #chat .me{
    text-align:right;
  }
  #chat .you .message{
    background-color:#58b666;
  }
  #chat .me .message{
    background-color:#6fbced;
  }
  #chat .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
  }
  #chat .you .triangle{
      border-color: transparent transparent #58b666 transparent;
      margin-left:15px;
  }
  #chat .me .triangle{
      border-color: transparent transparent #6fbced transparent;
      margin-left:375px;
  }
  
  main footer{
    height:155px;
    padding:20px 30px 10px 20px;
  }
  main footer textarea{
    resize:none;
    border:none;
    display:block;
    width:100%;
    height:80px;
    border-radius:3px;
    padding:20px;
    font-size:13px;
    margin-bottom:13px;
  }
  main footer textarea::placeholder{
    color:#ddd;
  }
  main footer img{
    height:30px;
    cursor:pointer;
  }
  main footer a{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color:#6fbced;
    vertical-align:top;
    margin-left:333px;
    margin-top:5px;
    display:inline-block;
  }

  /*Footer Styles*/

  .footer_style {
    display: flex;
    background-color: orange;  
    height: 130px;
  }

  .footer_left_colomn {
    flex: 1;
    margin-left: 15%;
 }

  .footer_middle_colomn {
    flex:1;
  }

  .footer_right_colomn {
    flex: 1;
  }